[*.cs]
    csharp_new_line_before_open_brace = methods, properties, types ; or all, or specific elements like methods, properties
    csharp_new_line_before_else = false
    csharp_new_line_before_catch = false
    csharp_new_line_before_finally = false